---
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";
import Heading from "../components/Heading.astro";
import Contact from "../components/Contact.astro";

//Professional Work Components
import Sound from "../components/Sound.astro";
import Guess from "../components/Guess.astro";
import Photo from "../components/Photo.astro";
//Project Components

import Lauren from "../components/Lauren.astro";
import Blog from "../components/Blog.astro";
import Lucidity from "../components/Lucidity.astro";
import Sentiment from "../components/Sentiment.astro";
import Technology from "../components/Technology.astro";
//Github Component
import GithubContributions from '../components/GithubContributions.astro';
---

<!-- Introduction Section -->
 
<Layout title="Web Developer Portfolio">
  <section class="fade-in">
  <div id="contents">
    <main class="container">
      <div class="mb-16">
        <Heading />
        <p
          class="mt-4 text-lg text-zinc-500 dark:text-zinc-400 font-light lg:text-xl"
        >
          I'm passionate about creative technology that intersects with art, music, and social issues. My work spans across various
          software and frameworks, from game devoplment to web. Currently, I'm based out of Richmond, Virginia. Check out my projects and work experience! Please don't hesitate to <a
            href="#contact"
            class="underline text-gray-300">reach out</a
          >.
        </p>
      </div>

      <!-- Current Project Section -->
      
      <h2
        class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white mb-2"
      >
      Current Projects
      </h2>
      <section class="fade-in">
      <div class="mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="">
          <Card
            href="guess"
            title="Guess-Hue"
            body="A New-York-Times style game with daily clues where the user tries to guess a secret color. In collaboration with The Nameist."
            tags="Firebase React, CSS, HTML"
          >
            <div class="max-w-full">
              <Guess />
            </div>
          </Card>
        </div>
        <div class="">
          <Card
            href="sound"
            title="Body-Sound-Synthesis"
            body="A machine-learning pose detection project to detect movement to connect into Pure Data for sound generation. In collaboration with Oscar Muendel. "
            tags="Python, OpenCV, Pure Data"
          >
            <div class="max-w-full">
              <Sound />
            </div>
          </Card>
        </div>
        <div class="">
          <Card
            href="photo"
            title="Photo-Editor"
            body="A image processing project for a web-based photo editor to produce novel effects between two images including pixelation, bayer, halftone, and more."
            tags="Firebase, JavaScript, HTML, CSS "
          >
            <div class="max-w-full">
              <Photo />
            </div>
          </Card>
        </div>
      </div>
    </section>

    <!-- Contributions Section -->
     <section class="fade-in">
      <div class="my-8 bg-black">
        <Card
        title="Contributions"
        body=""
        tags=""
      >
        <GithubContributions />
        </Card>
      </div>
    </section>
      
      <!-- Work Experience -->
      
      <h2
        class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white mb-2"
      >
        Work Experience
      </h2>
      <section class="fade-in">
      <div class="mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="">
          <Card
            href="sentiment"
            title="Sentiment Voice"
            body="Machine-Learning driven live virtual reality-based performance art project, to explore how artificial intelligence can surveil emotion data of personal speech in chat, text, and face landmarks. This project demonstrates and promotes public awareness of the vulnerability and insecurity of emotion data."
            tags="Sentiment"
            >
            <Sentiment />
          </Card>
        </div>
        <div class="">
          <Card
            title="Technical Assistant"
            body="Worked as a TA where I taught and created thourough Unity virtual reality tutorials for Virtual Interactive Worlds, a course that bridges the gap between technology and human experience. The tutorials include topics such as project and github setup, animation, physics, optimization, and sound. "
            tags="TA"
            github="https://github.com/hcbryant9/VIW-TA-Tutorial"
          >
          <Technology />
          </Card>
        </div>
      </div>
    </section>

    <!-- Awards Section -->
    <section class="fade-in">
      <div class="my-8 bg-black">
        <Card
        title="Awards"
        body=""
        tags=""
      >
       
        </Card>
      </div>
    </section>
      <!-- Misc Projects Section -->
      
      <h2
        class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white mb-2"
      >
        Misc Projects
      </h2>
      <section class="fade-in">
      <div class="mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="">
          <Card
            title="Virtual Harmony"
            body="An extended reality exhibit presented 12/08/23. A project about connecting with earth through a digital & physical space."
            tags="Lauren"
            github="https://hank1do.com/harmony.html"
          >
            <Lauren />
          </Card>
        </div>
        <div class="">
          <Card
            title="Personal Blog"
            body="Developed with vanilla JS, HTML, CSS and deployed with Firebase. The website serves as an alternative platform to addictive media platforms. Hank1do.com is largely inspired by individual-blogs and various open-sourced communities."
            tags="Blog"
            github="https://hank1do.com/index.html"
          >
            <Blog />
          </Card>
        </div>
        <div class="">
          <Card
            title="Lucidity"
            body="An immersive short film about identity and religion in the context of modern social hierarchies. Developed in collaboration with the school of Kinetic Imaging at VCU & the Korea National University of Arts."
            tags="Python"
            github="https://hank1do.com/lucidity.html"
          >
            <Lucidity />
          </Card>
        </div>
      </div>
    </section>

      <!-- Contact -->
      <section class="fade-in">
      <div class="my-8">
        <Contact />
      </div>
    </section>
    </main>
  </div>
</Layout>

<style is:global>
  main {
    margin: auto;
    padding: 0.75rem;
    width: 1100px;
    max-width: 100%;
    color: white;
    line-height: 1.6;
  }
  .project-image {
    max-width: 100% !important;
    overflow: hidden;
  }
  .project-cards {
  }
  .video-wrapper {
    background: #111111;
    padding: calc(1.5rem - 1px);
    line-height: 1.4;
    border-radius: 8px;
    margin-bottom: 2rem;
  }
  .project-column > div {
    max-width: 100%;
    overflow: hidden;
  }
  .projects-alt > li {
    gap: 1rem !important;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    font-size: 2.75rem;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    gap: 0;
    padding: 0;
  }
  .read-more {
    color: #fff;
  }
  details {
    position: relative;
    top: -1px;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0 0 8px 8px;
    max-width: 900px;
  }
  details > div {
    max-width: 830px;
  }

  summary:hover {
    cursor: pointer;
  }
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }
</style>


<script>
  const sections = document.querySelectorAll('.fade-in');

  const observer = new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('visible');
        observer.unobserve(entry.target);
      }
    });
  }, { threshold: 0.1 });

  sections.forEach(section => {
    observer.observe(section);
  });
</script>
