<div style="display: flex; justify-content: center; gap: 2px;">
  <img 
    class="border border-black" 
    src="../photo-sample.png" 
    alt="GIF description" 
    style="max-width: 40%; height: auto;" 
  />
  <img 
    class="border border-black" 
    src="../photo-sample-2.png" 
    alt="GIF description" 
    style="max-width: 40%; height: auto;" 
  />
</div>
