

<div class="image-container">
    <img
      class="project-image border border-black"
      src={'./photo-sample.png'}
      alt="photo from day of exhibition"
    
    />
    <img
      class="project-image border border-black"
      src={'./photo-sample-2.png'}
      alt="another photo"
      
    />
  </div>
  
  <style>
    .image-container {
      display: flex;
      width: 100%;
    }
    .project-image {
      width: 50%;
      height: 275px;
    }
  </style>