---
import { Image } from 'astro:assets';
import blog from '../assets/ta_island.jpg';
---

<div>
  <Image
    class="project-image border  border-black"
    src={blog}
    alt="screen shot of blog"
    densities={[1, 2, 3]} 
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: 300px;
  }
</style>
